on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    paths:
      - "uv.lock"

permissions: {}

jobs:
  update-requirements:
    permissions:
      contents: write # commit changes to PR branch
    runs-on: ubuntu-22.04
    container: globeswiss/cloud-sdk:py3.12.12-554.0.0
    if: startsWith(github.head_ref, 'renovate/')
    steps:
      - uses: actions/checkout@v6.0.2
        with:
          persist-credentials: true
          ref: ${{ github.head_ref }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7.3.0
      - name: Export production requirements
        run: uv export --format requirements-txt --no-hashes --no-dev > requirements.txt
      - name: Commit and push if changed
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          git add requirements.txt
          git diff --cached --quiet requirements.txt || git commit -m "ci: update requirements.txt after dependency upgrade"
          git push
